$color-navbar: #214b05;

.title {
    color: white;
    font-family: 'Indie Flower', cursive;
}
.navbar {
    background-color: $color-navbar;
}

.introduction {
  width: 100vw;
  height: 100vh;
  margin: auto;
  background-image:url("../img/retirement-slider.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}